body
{
	background-color: #000000;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
	font-weight: 700;
}

#pojemnik
{
	width:900px;
	font-size: 70px;
	text-align: center;
	margin-left:auto;
	margin-top: 50px;
	margin-right:auto;
}

#plansza
{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 70px;
	min-height: 60px;
}

#gracz1
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#gracz2
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#przycisk
{
		background-color: yellow;
		width: 350px;
		height: 200px;
		margin-top: 250px;
		font-size: 100px;

}

#licznik
{
		
		margin-top: 250px;
		font-size: 100px;

}

